name: rag app

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT }}
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11.7

      - name: Install poetry
        run: python -m pip install --upgrade pip && pip install poetry

      - name: Install dependencies
        run: poetry install

      - name: black check
        run: poetry run black ./src --line-length 120 --check

      - name: flake8 check
        run: poetry run flake8 ./src --extend-ignore=E501,W503

      - name: mypy check
        run: poetry run mypy ./src/

      - name: pytest check
        run: poetry run pytest --vv 
